<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/cabelos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criart</title>
    <link rel="icon" href="./imagens/logobranca.png">
</head>
<body>
    <div class="area-cabelos-cabeça hide">
        <img src="./imagens/personagens/cabelo1m-preto.png" id="div1" alt="">
    </div>
    <i class="bi bi-arrow-right-short" id="botao" style="font-size: 5rem; color: white; margin-left: 60vw; cursor: pointer;"></i>
    <div class="area-grande-personagens">
        <div class="area-selecao-cabelos">
            <div class="quadrado cabelos" id="div1" onclick="Mudarestado('div1', './imagens/personagens/pele 1.png')">
                <img src="./imagens/personagens/cabelo1m-preto.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div2" onclick="Mudarestado('div2', './imagens/personagens/pele 2.png')">
                <img src="./imagens/personagens/cabelo1f-preto.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div3" onclick="Mudarestado('div3', './imagens/personagens/pele 3.png')">
                <img src="./imagens/personagens/cabelo1f-roxo.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div4" onclick="Mudarestado('div4', './imagens/personagens/pele 4.png')">
                <img src="./imagens/personagens/pele 4.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div5" onclick="Mudarestado('div5', './imagens/personagens/pele 5.png')">
                <img src="./imagens/personagens/pele 5.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div6" onclick="Mudarestado('div6', './imagens/personagens/pele azul.png')">
                <img src="./imagens/personagens/pele azul.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div7" onclick="Mudarestado('div7', './imagens/personagens/pele rosa.png')">
                <img src="./imagens/personagens/pele rosa.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div8" onclick="Mudarestado('div8', './imagens/personagens/pele roxa.png')">
                <img src="./imagens/personagens/pele roxa.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div9" onclick="Mudarestado('div9', './imagens/personagens/pele verde.png')">
                <img src="./imagens/personagens/pele verde.png" alt="">
            </div>
            <div class="quadrado cabelos" id="div10" >
            </div>
            <div class="quadrado cabelos" id="div11" >
            </div>
            <div class="quadrado cabelos" id="div12" >
            </div>
        </div>
    </div>
</body>
<script src="./js/cabelos.js"></script>
</html>