<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/personagem.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criart</title>
</head>
<body>
    <div class="area-personagem-cabeça">
        <img src="./personagens/pele 1.png"  id="div1" alt="">
        <img src="./personagens/pele 2.png"  id="div2" alt="">
        <img src="./personagens/pele 3.png"  id="div3" alt="">
        <img src="./personagens/pele 4.png"  id="div4" alt="">
        <img src="./personagens/pele 5.png"  id="div5" alt="">
        <img src="./personagens/pele azul.png"  id="div6" alt="">
        <img src="./personagens/pele rosa.png"  id="div7" alt="">
        <img src="./personagens/pele roxa.png"  id="div8" alt="">
        <img src="./personagens/pele verde.png"  id="div9" alt="">
    </div>
    <i class="bi bi-arrow-right-short" style="font-size: 5rem; color: rgb(0, 0, 0); margin-left: 93vw;" onclick="troca()"></i>
    <div class="area-grande-personagens">
        <div class="area-selecao-personagem">       
            <div class="quadrado-1" onclick="Mudarestado('div1')">                
                <img src="./personagens/pele 1.png" alt="">
            </div>
            <div class="quadrado-2" onclick="Mudarestado('div2')">
                <img src="./personagens/pele 2.png" alt="">
            </div>
            <div class="quadrado-3" onclick="Mudarestado('div3')">
                <img src="./personagens/pele 3.png" alt="">
            </div>
            <div class="quadrado-4" onclick="Mudarestado('div4')">
                <img src="./personagens/pele 4.png" alt="">
            </div>
            <div class="quadrado-5" onclick="Mudarestado('div5')">
                <img src="./personagens/pele 5.png" alt="">
            </div>
            <div class="quadrado-1" onclick="Mudarestado('div6')">
                <img src="./personagens/pele azul.png" alt="">
            </div>
            <div class="quadrado-2" onclick="Mudarestado('div7')">
                <img src="./personagens/pele rosa.png" alt="">
            </div>
            <div class="quadrado-3" onclick="Mudarestado('div8')">
                <img src="./personagens/pele roxa.png" alt="">
            </div>
            <div class="quadrado-5" onclick="Mudarestado('div9')">
                <img src="./personagens/pele verde.png" alt="">
            </div>
            <div class="quadrado-1" >
            </div>
            <div class="quadrado-2" >
            </div>
            <div class="quadrado-3" >
            </div>                
        </div>
    </div>
</body>
<script src="./js/personagem.js"></script>
</html>