<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/personagem.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criart</title>
    <link rel="icon" href="./imagens/logoroxa.png">
</head>
<body>
    <label for="cabelo">Cabelo:</label>
    <select id="cabelo">
        <option value="cabelo1">Cabelo 1</option>
        <option value="cabelo2">Cabelo 2</option>
        <option value="cabelo3">Cabelo 3</option>
    </select>

    <label for="corpo">Corpo:</label>
    <select id="corpo">
        <option value="corpo1">Corpo 1</option>
        <option value="corpo2">Corpo 2</option>
        <option value="corpo3">Corpo 3</option>
    </select>

    <label for="olhos">Olhos:</label>
    <select id="olhos">
        <option value="olhos1">Olhos 1</option>
        <option value="olhos2">Olhos 2</option>
        <option value="olhos3">Olhos 3</option>
    </select>

    <button onclick="trocarCaracteristicas()">Trocar Características</button>

    <script>
        // Função para trocar as características do personagem
        function trocarCaracteristicas() {
            // Obtenha os valores selecionados
            var cabeloSelecionado = document.getElementById('cabelo').value;
            var corpoSelecionado = document.getElementById('corpo').value;
            var olhosSelecionados = document.getElementById('olhos').value;

            // Atualize as características do personagem (você pode substituir isso por sua lógica de aplicação)
            console.log("Cabelo selecionado: " + cabeloSelecionado);
            console.log("Corpo selecionado: " + corpoSelecionado);
            console.log("Olhos selecionados: " + olhosSelecionados);
        }
        </script>
</body>
<script src="./js/personagem.js"></script>
</html>