<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/salvar.css">
    <title>Criart</title>
    <link rel="icon" href="./imagens/logobranca.png">
</head>
<body>
    <i class="bi bi-arrow-right-short" style="font-size: 5rem; color: rgb(0, 0, 0); margin-left: 93vw;" onclick="troca()"></i>
    <h1>salvar :p</h1>
</body>
<script src="./js/salvar.js"></script>
</html>