<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/tabela.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criart</title>
    <link rel="icon" href="./imagens/logobranca.png">
    <head>
    </head>
  
    <body>
        <i class="bi bi-arrow-right-short" style="font-size: 5rem; color: rgb(0, 0, 0); margin-left: 93vw; cursor: pointer;" onclick="troca()"></i>
        <h2>força</h2>
        <div class="contador">
            <button onclick="mais()">+</button>
            <h2 id="valor"></h2>
            <button onclick="menos()">-</button>
        </div>
        <h2>defesa</h2>
        <div class="contador">
            <button onclick="mais()">+</button>
            <h2 id="valor"></h2>
            <button onclick="menos()">-</button>
        </div>
        <h2>nível</h2>
        <div class="contador">
            <button onclick="mais()">+</button>
            <h2 id="valor"></h2>
            <button onclick="menos()">-</button>
        </div>
        <h2>idade</h2>
        <div class="contador">
            <button onclick="mais()">+</button>
            <h2 id="valor"></h2>
            <button onclick="menos()">-</button>
        </div>
    </body>
<script src="./script.js"></script>
</html>