body {
    background-color: #fff;
    font-family: monospace;
}

.area-cabelos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.area-cabelos img {
    max-width: 100px;
    margin: 0 10px;
}

.area-grande-personagens {
    padding: 20px;
}

.area-selecao-cabelos {
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
}

.quadrado {
    width: 5vw;
    background-color: #fff; 
    margin: 8vw;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10vh;
    display: block; 
}

.quadrado img {
    max-width: 80%;
    max-height: 80%;
    margin: 1vh;
}

.quadrado:hover {
    background-color: #686868;
}

.bi-arrow-right-short {
    font-size: 5rem;
    color: #000; 
    cursor: pointer;
}