body {
    background-image: url(../imagens/fundohome.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}

.tela-principal-logo img{
    width: 40vw;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 2vw;
}

h1{
    color: #101010;
    background-color: white;
    margin: 20vh;
}

.boxes{
    width: 80vw;
    height: 2000vh;
    position: absolute;
    margin-top: 20vh;
}

.box1 {
    width: 40vw;
    height: 50vh;
    margin-left: 2vw;
    float: left;
    position: relative;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.box2 {
    width: 40vw;
    height: 80vh;
    margin-right: 20vw;
    float: right;
    position: relative;
    background-color: rgb(255, 0, 0);
    opacity: 0;
    transition: opacity 0.5s;
}
  