body {
    background-image: url(../imagens/fundohome.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
    margin: 0;
}

.tela-principal-logo{
    padding-top: 5vh;
    padding-left: 2vw;
}

h1{
    color: #101010;
    background-color: white;
    margin: 20px;
}

.boxes{
    height: 200vh;
    position: absolute;
    margin-top: 20vh;
}

.box1 {
    width: 45vw;
    height: 45vh;
    float: left;
    position: relative;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.b1{
    margin-top: 30px;
    height: 45vh;
    width: 47vw;
    border: solid 4px white;
}

.box2 {
    width: 45vw;
    height: 35vh;
    float: right;
    position: relative;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.b2{
    margin-top: 30px;
    margin-left: 51.25vw;
    height: 35vh;
    width: 47vw;
    border: solid 4px white;
}

.box3 {
    width: 45vw;
    height: 45vh;
    float: left;
    position: relative;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.b3{
    margin-top: 30px;
    height: 45vh;
    width: 47vw;
    border: solid 4px white;
}

.box4 {
    width: 45vw;
    height: 35vh;
    float: right;
    position: relative;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.b4{
    margin-top: 30px;
    margin-left: 51.25vw;
    height: 35vh;
    width: 47vw;
    border: solid 4px white;
}

h3{
    color: white;
}
  