body{
    background-image: url('fundo_tela_login.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: monospace;
}
img{
    width: 70vw;
    height: 22vh;
    padding-top: 10vh;
    padding-left: 28vw;
}
input[type="text"] {
    width: 25vw;
    height: 8vh;
    border-radius: 10vh;
    margin-top: 15vh;
    margin-left: 35vw;
    padding: 1vw;
}
input[type="password"] {
    width: 25vw;
    height: 8vh;
    border-radius: 10vh;
    margin-top: 5vh;
    margin-left: 35vw;
    padding: 1vw;
}
button {
    width: 20vw;
    height: 8vh;
    border-radius: 10vh;
    margin-top: 8vh;
    margin-left: 38vw;
}
 button:hover{
    background-color: #252525;
}
h6{
    margin-top: 4vh;
    margin-left: 42vw;
    cursor: pointer;
    color: antiquewhite;
}
h6:hover {
    text-decoration: underline; 
}
