 body {
            margin: 0;
            padding: 0;
            font-family: monospace;
            background-color: #000000;
            color: #fff;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        .area-cabelos {
            display: none;
        }

        .area-selecao-cabelos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .quadrado {
            width: 10vw;
            height: 50vh;
            margin: 10px;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out;
            background-color: #858585; /* Cor de fundo para melhor visibilidade */
        }

        .quadrado img {
            width: 10vw;
            height: 50vh;
            object-fit: cover;
        }

        .bi-arrow-right-short {
            font-size: 5rem;
            margin-left: 60vw;
            cursor: pointer;
        }

        .corpo-personagem {
            width: 300px;
            height: 400px;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

