body {
    background-color: #fff;
    font-family: monospace;
}

.area-personagem-cabeça {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.area-personagem-cabeça img {
    max-width: 100px;
    margin: 0 10px;
}

.area-grande-personagens {
    padding: 20px;
}

.area-selecao-personagem {
    display: flex;
    flex-wrap: wrap;
}

.quadrado {
    width: 6vw;
    height: 10vh;
    background-color: #fff; 
    margin: 1vh;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10vh;
    display: block; 
}

.quadrado img {
    max-width: 80%;
    max-height: 80%;
    margin: 1vh;
}

.quadrado:hover {
    background-color: #24bb24;
}

.bi-arrow-right-short {
    font-size: 5rem;
    color: #000; 
    cursor: pointer;
}


