*{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}
.tela-principal-logo img{
    width: 30vw;
    height: 10vh;
    padding-top: 2vh;
    padding-left: 2vw;
}
h1{
    color: aliceblue;
    margin: 20vh;
}